<div class="container mt-4">
  <div class="row" *ngIf="member">
    <div class="col-8 offset-2 offset-sm-0 col-sm-6 col-md-6 col-lg-5 shadow-lg p-3 mb-2 bg-white rounded">
      <h1>{{member.username}}</h1>
      <p class="lead">General Information about the member</p>
      <div class="card shadow-lg p-3 mb-2 bg-white rounded">
        <img class="card-img-top img-thumbnail" src="{{member?.photoUrl}}" alt="{{member?.knownAs}}">
      </div>

      <div class="card-body">
        <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
          <i class="fa fa-user-circle text-success"></i> Online
        </div>
        <div class="mb-2" *ngIf="!(presence.onlineUsers$ | async).includes(member.username)">
          <i class="fa fa-user-circle text-danger"></i> Offline
        </div>
        <div class="text-center">
          <i class="fas fa-map-marker-alt"></i> &nbsp; <span> {{member?.city}}, {{member?.country}}</span> <br>
          <strong>Age:</strong><span> {{member.age}}</span> <br>
          <strong>Last Active:</strong><span> {{member.lastActive | timeAgo}}</span> <br>
          <strong>Member Since:</strong><span> {{member.dateCreated | date }}</span> <br>
        </div>
      </div>

      <div class="card-footer">
        <div class="btn-group d-flex ">
          <button class="btn  btn-primary w-100">Like</button>
          <!-- https://valor-software.com/ngx-bootstrap/old/5.3.2/#/tabs#tabs-manual-select see ho selecting tabs works -->
          <button class="btn btn-success w-100" (click)="selectTab(3)">Message</button>
        </div>
      </div>
    </div>
    <!-- tabbs -->
    <div class="col-8 m-auto m-sm-0 col-sm-6 col-md-6 col-lg-7 shadow-lg p-3 mb-2 bg-white rounded">
      <p> Photo galery and info</p>
      <div class="tab-panel">
        <tabset #memberTabs class="member-tabset">
          <tab heading="About {{member.knownAs}}">
            <h4 class="text-success"> Description</h4>
            <p> {{member.introduction}}</p>
            <h4> Lookig for </h4>
            <p> {{member.lookingFor}}</p>
          </tab>
          <tab heading="Interests">
            <h4> Interests </h4>
            <p> {{member.interests}}</p>
          </tab>
          <tab heading="Photos" (selectTab)="onSelect($event)">
            <ngx-gallery *ngIf="loadPhotos"
              [options]="galleryOptions"
              [images]="galleryImages">
            </ngx-gallery>
          </tab>
          <tab heading="Messages" (selectTab)="onSelect($event)">
            <p> Messages will go here</p>
            <!-- child component -->
              <app-member-messages *ngIf="loadMessages"
                [recipientId]="member.id"
                [recipientUsername]="member.username" >
              </app-member-messages>
          </tab>
        </tabset>
      </div>

    </div>
  </div>


</div>
