.rounded-circle {
  width: 150px;
  height: 150px;
  border-color: red;
  border-style: solid;
  border-radius: 2px;
  padding: 2px;
}

@media only screen and (max-width: 992px) {
  .tab-panel {
    height: auto;
  }
}

.color_tab {
  color:rgb(66, 64, 197);
  background: red;
  margin-left: 20px;
}
