<!-- <p>Photo id: {{photoId}}</p> -->
<div *ngIf="photoWithComment" class="card">
  <div class="card-header">
    <div class="ng-container row justify-content-between">
      <div class="ml-2 row" style="cursor: pointer">
        <img class="col-3 rounded-circle img-responsive" src="{{photoWithComment.photoOwner.photoUrl}}"
          (click)="navigateToUser(photoWithComment?.photoOwner.username)">
        <div class="ml-1 d-inline col-8 text-align-center">
          <a class="user-link ml-1" (click)="navigateToUser(photoWithComment?.photoOwner.username)">
            {{photoWithComment?.photoOwner.username}}</a>
          <span class="ml-2"> <i class="fa fa-map-marker"> {{photoWithComment?.photoOwner?.country}}</i> </span>
        </div>
      </div>
      <div class="d-block mr-2">
        <button type="button" style="vertical-align:center; border: none">
          <i class="fa fa-ellipsis-h fa-lg"></i>
        </button>
      </div>
    </div>

  </div>

  <div class="card-body" style="width: auto">

    <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport text-center" style="position: relative;">
      <div *cdkVirtualFor="let comment of photoWithComment.phCommentCreatorDtos" class="example-item my-2">
        <div class="container row">
          <div class="col-xs-8">
           <img class="col-3 rounded-circle img-responsive" src="{{comment.commentCreator.photoUrl || '../../../assets/default-user.png'}}"
              alt="{{comment.commentCreator.knownAs}}"  (click)="navigateToUser(comment.commentCreator.username)">
            <button type="button" class="btn btn-link text-dark font-weight-bold"
              (click)="navigateToUser(comment.commentCreator.username)">{{comment.commentCreator.username}}
            </button> &nbsp; <span class="user-comment">{{comment.comment}} </span> - <span class="ml-1">{{comment.dateCreated | timeAgo}}</span>
          </div>
          <div class="col-xs-2 text-center my-auto">
          <button class="btn" type="button"
            tooltip="Delete Comment"
            (click)="deleteCommentModal(comment.comment, photoId, template)">
            <i *ngIf="comment.commentCreator.username === currentUsername" class="fa fa-trash fa-lg" aria-hidden="true"></i>
          </button>
          <button class="btn" style="display:inline;" type="button"
                tooltip="Edit Comment"
                (click)="editComment(comment.comment, photoId)">
                <i *ngIf="comment.commentCreator.username === currentUsername" class="far fa-edit fa-lg" aria-hidden="true"></i>
          </button>
          </div>
        </div>
      </div>
   </cdk-virtual-scroll-viewport>
   <br>

   <ng-template #template>
    <div class="modal-body text-center">
      <p>Delete this comment?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
  <div *ngIf="likedPhotosIds" class="text-align-left ml-2 my-auto">
    <div class="row mb-2 my-auto" style="cursor: pointer">
      <i *ngIf="!canBeLiked(photoId)" (click)="likePhoto(+photoId)" class="fa fa-heart-o fa-lg"></i>
      <i *ngIf="canBeLiked(photoId)" (click)="deletePhotoLike(+photoId)" class="fa fa-heart fa-lg"
        style="color:red"></i>


        <span *ngIf="true" class="text-black text-center" tooltip="Show All Likes" placement="right"
          (click)="showLikesModal()">
          <span class="h5 text-dark ml-2 mt-auto d-inline"> {{numberOfLikesPerPhoto}} likes </span>
        </span>
      </div>

      <div></div>



   <form #photoCommentForm="ngForm" (ngSubmit)="createComment()"><hr>
    <div class="input-group mb-3">
      <input type="text" class="form-control" style="border: transparent"
      [(ngModel)]="photoComment"
      name="photoComment" required placeholder="Add comment..." autocomplete="off">

    <div *ngIf="!editMode" class="input-group-append" >
      <button class="btn btn-info" style="outline: none"[disabled]="!photoCommentForm.valid" type="submit" id="button-addon2">Post</button>
    </div>
    <div *ngIf="editMode" class="input-group-append" >
      <button class="btn btn-info ml-1" style="outline: none"[disabled]="!photoCommentForm.valid" type="submit" id="button-addon2">Save</button>
      <button class="btn btn-danger ml-1" type="button"
        (click)="cancelEdit()"
        style="outline: none"
        [disabled]="!photoCommentForm.valid"
        id="button-addon2">Cancel
      </button>
    </div>
    </div>
  </form>

  </div>
</div>
